
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
<<<<<<< HEAD
/*#gMap {
    height: 100%;
}
*/
=======
#gMap {
    height: 100%;
}

>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
.slide-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.adsinfo-slide1 {
<<<<<<< HEAD
    background-image: url('../assets/img/adsimages/Capture.PNG');
=======
    background-image: url('../assets/img/adsimages/capture.png');
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
    /*background-image: url('../assets/img/adsimages/cc1.png');*/
    /* background-image: url('../assets/img/adsimages/CloudComputing.png');*/
    background-position: center;
    background-repeat: no-repeat;
}

.adsinfo-slide2 {
    background-image: url('../assets/img/adsimages/DA_Slide2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.adsinfo-slide3 {
    background-image: url('../assets/img/adsimages/slide2-1400x900.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

<<<<<<< HEAD
.footer {
    padding-bottom: 10px !important;
}

    .footer .copyright {
        padding-top: 10px !important;
        border-top: none !important;
        text-align: left !important;
    }
=======
.adsinfo-footer {
    height: 50px;
}
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
