
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#gMap {
    height: 100%;
}

.slide-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.adsinfo-slide1 {
    background-image: url('../assets/img/adsimages/capture.png');
    /*background-image: url('../assets/img/adsimages/cc1.png');*/
    /* background-image: url('../assets/img/adsimages/CloudComputing.png');*/
    background-position: center;
    background-repeat: no-repeat;
}

.adsinfo-slide2 {
    background-image: url('../assets/img/adsimages/slide1-1400x900.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.adsinfo-slide3 {
    background-image: url('../assets/img/adsimages/slide2-1400x900.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.adsinfo-footer {
    height: 50px;
}
