@{
    ViewData["Title"] = "Home Page";
}



<!-- Hero Section -->
<section id="hero" class="hero section dark-background" style="background-color:#011559">

    @* <div id="hero-carousel" data-bs-interval="50000" class="container carousel carousel-fade" data-bs-ride="carousel"> *@


    <div id="hero-carousel" data-bs-interval="100000" class="slide-container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container adsinfo-slide1">
                <h2 class="animate__animated animate__fadeInDown">Cloud Modernization</h2>
                @* <p class="animate__animated animate__fadeInUp">At <span>ADS InfoSoft</span>, we are passionate about creating innovative software solutions that empower businesses to achieve their goals. In a dynamic industry reforms, we specialize in Research & Analysis, Software Development, Data & Innovation, Cloud Solutions and IT Consulting. We are committed to delivering Smart Application using Cloud and leading edge technology with exceptional results for our valuable clients.</p> *@

                <p class="animate__animated animate__fadeInUp">
                    Empowering businesses with scalable, secure, and cost-effective cloud solutions.<br /><br />
                    Our cloud consulting services help you navigate the complexities of cloud adoption.
                    @* We provide strategic advice and practical solutions to maximize the benefits of cloud technology for your business *@
                </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container adsinfo-slide2">
                <h2 class="animate__animated animate__fadeInDown">Data Analytics & Engineering</h2>
                <p class="animate__animated animate__fadeInUp">
                    Transforming raw data into actionable insights with advanced analytics and engineering.<br />
                    Our Data Analytics & Engineering services empower businesses to transform raw data into actionable insights.
                    @* Our expert team employs advanced analytics techniques and robust engineering practices to collect, process, and analyze data efficiently and securely. By leveraging the latest technologies, we help organizations make data-driven decisions, optimize operations, and uncover new opportunities for growth. Partner with us to unlock the full potential of your data and drive your business forward. *@
                </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container adsinfo-slide3">
                <h2 class="animate__animated animate__fadeInDown">Artificial Intelligence & Machine Learning</h2>
                <p class="animate__animated animate__fadeInUp">
                    Transforming data into decisions, making the future smarter and more intuitive.<br />
                    We harness the power of Artificial Intelligence (AI) and Machine Learning (ML) to drive innovation and deliver cutting-edge solutions.
                    @* Our AI and ML technologies enable us to analyze complex data, predict trends, and optimize processes, ensuring that our clients stay ahead in an ever-evolving market. By integrating AI and ML into our services, we provide smarter, more efficient, and highly personalized experiences tailored to meet the unique needs of each customer. *@
                </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
    </svg>

</section>
<!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>Who we are</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                <p>
                    Welcome to ADS InfoSoft, where innovation meets excellence. <br />
                    Founded in 2024, we are a leading software development company dedicated to delivering high-quality, cutting-edge solutions that drive business success. Our team of experienced developers, designers, and analysts are passionate about creating software that not only meets the needs of our clients but exceeds their expectations.
                </p>
                <ul style="margin-bottom:0;">
                    <li><i class="bi bi-check2-circle"></i> <span>Expertise and Innovation</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Data Science Worflow</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Client-Centric Approach</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Comprehensive Services</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Cutting-Edge Technologies</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Agile Methodologies</span></li>
                </ul>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p>
                    At ADS InfoSoft, we specialize in a wide range of services including custom software development, mobile app development, web development, and cloud solutions. Our commitment to staying at the forefront of technology ensures that we provide our clients with the most advanced and efficient solutions available.

                    Our mission is to empower businesses through technology, helping them to streamline operations, enhance customer experiences, and achieve their goals. We believe in building long-term partnerships with our clients, based on trust, transparency, and mutual success.

                    Join us on our journey to transform ideas into reality. At [Your Company Name], your success is our priority.

                    This content provides a comprehensive overview of your company, emphasizing its expertise, commitment to quality, and client-focused approach
                </p>
                <a href="#" class="read-more" style="display:none;"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>

        </div>

    </div>

</section>


<section id="partners" class="about section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Partners</h2>
        <p>Our valuable partners</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <div class="col-sm-2"> <img src="~/assets/img/partners/aws.webp" /></div>
            <div class="col-sm-2"><img src="~/assets/img/partners/databricks_logo.png" /></div>
            <div class="col-sm-2"><img src="~/assets/img/partners/github.png" /></div>
            <div class="col-sm-2"><img src="~/assets/img/partners/microsoft.webp" /></div>
            <div class="col-sm-2"><img src="~/assets/img/partners/oracle.webp" /></div>
            <div class="col-sm-2"><img src="~/assets/img/partners/aws.webp" /></div>
        </div>
        @*  <div class="container" data-aos="fade-up">
        <img src="~/assets/img/partners/aws.webp" />
        <img src="~/assets/img/partners/databricks_logo.png" />
        <img src="~/assets/img/partners/github.png" />
        <img src="~/assets/img/partners/microsoft.webp" />
        <img src="~/assets/img/partners/oracle.webp" />
        </div> *@
    </div>
</section>

<!-- /About Section -->
<!-- Features Section -->
<!-- /Features Section -->
<!-- Call To Action Section -->
@* <section id="call-to-action" class="call-to-action section dark-background">

    <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-12 text-center text-xl-start">
                <h3>Call To Action</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
        </div>

    </div>

</section> *@<!-- /Call To Action Section -->
<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>What we do offer</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-clipboard2-data" style="color: #0dcaf0;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Data Analytics and Automation</h3>
                    </span>
                    <p>Involves analyzing data to uncover insights about user behavior, website performance, and content effectiveness.</p>
                    <p>Use of technology to perform repetitive tasks and processes with minimal manual intervention.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-cloud-check" style="color: #fd7e14;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Cloud Computing Solutions</h3>
                    </span>
                    <p>Our cloud computing solutions provide a range of services designed to help businesses enhance their IT infrastructure, improve efficiency, and drive innovation. Explore our offerings to find the right solution for your needs.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-app-indicator" style="color: #20c997;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Application Modernization</h3>
                    </span>
                    <p>Expertise in transforming your existing applications to leverage the latest technologies and practices. Our services help you enhance performance, ensure scalability, and meet today’s business demands with modernized applications.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-robot" style="color: #df1529;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>AI-Powered Automation Solutions</h3>
                    </span>
                    <p>
                        Our Intelligent Process Automation solutions enhance efficiency by integrating AI to manage complex tasks with minimal human intervention.
                    </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-globe" style="color: #6610f2;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Custom Software Development</h3>
                    </span>
                    <p>We develop custom software applications designed to address your unique business challenges. From concept to deployment, our team works closely with you to create software that aligns with your strategic objectives.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bank" style="color: #f3268c;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Banking, Financial Services and Insurance</h3>
                    </span>
                    <p>Providing technical expertise in BFSI to address the unique challenges and opportunities within the BFSI industries. With a focus on innovation, compliance, and efficiency, we provide tailored solutions to help organizations in these sectors thrive in a rapidly evolving market.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section>
<!-- /Services Section -->
<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>portfolio</h2>
        <p>What we've done</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
<<<<<<< HEAD

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-clipboard2-data" style="color: #0dcaf0;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Data Analytics</h3>
                    </span>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Data Virtualization</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Business Intelligence (BI) Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Robotic Process Automation (RPA)</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Customized Analytics Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Migration</span></li>
                    </ul>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-cloud-check" style="color: #fd7e14;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Cloud Computing Solutions</h3>
                    </span>
=======

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-clipboard2-data" style="color: #0dcaf0;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Data Analytics</h3>
                    </a>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Data Virtualization</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Business Intelligence (BI) Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Robotic Process Automation (RPA)</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Customized Analytics Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Migration</span></li>
                    </ul>
                </div>
            </div><!-- End Service Item -->

<<<<<<< HEAD
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-app-indicator" style="color: #20c997;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Application Modernization</h3>
                    </span>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Next-gen Application Development - API Orchestration & Microservices</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>DevOps  - On Click Deployment</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Rationalization, Application Management</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Mobility Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Technology Upgrade</span></li>
=======
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-cloud-check" style="color: #fd7e14;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Cloud Computing Solutions</h3>
                    </a>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Data Virtualization</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Business Intelligence (BI) Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Robotic Process Automation (RPA)</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Customized Analytics Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Migration</span></li>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </ul>
                </div>
            </div><!-- End Service Item -->

<<<<<<< HEAD
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-robot" style="color: #df1529;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>AI-Powered Automation Solutions</h3>
                    </span>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Data Virtualization</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Business Intelligence (BI) Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Robotic Process Automation (RPA)</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Customized Analytics Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Migration</span></li>
=======
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-app-indicator" style="color: #20c997;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Application Modernization</h3>
                    </a>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Next-gen Application Development - API Orchestration & Microservices</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>DevOps  - On Click Deployment</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Rationalization, Application Management</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Mobility Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Technology Upgrade</span></li>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </ul>
                </div>
            </div><!-- End Service Item -->

<<<<<<< HEAD
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-globe" style="color: #6610f2;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Custom Software Development</h3>
                    </span>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>End-to-End Development</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Agile Methodology</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Cross-Platform Development</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Integration Services</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Ongoing Support and Maintenance</span></li>
=======
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-robot" style="color: #df1529;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>AI-Powered Automation Solutions</h3>
                    </a>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Data Virtualization</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Business Intelligence (BI) Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Robotic Process Automation (RPA)</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Customized Analytics Solutions</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Migration</span></li>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </ul>
                </div>
            </div><!-- End Service Item -->

<<<<<<< HEAD
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bank" style="color: #f3268c;"></i>
                    </div>
                    @* <a href="service-details.html" class="stretched-link"> *@
                    <span class="stretched-link" style="cursor:pointer;">
                        <h3>Databases</h3>
                    </span>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Managing your all database migration over cloud</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Effective & Optimized solutions for future ready Datawarehouse</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Security and Compliance</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Database Management and Administration</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Database Design and Architecture</span></li>
                    </ul>
=======
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-globe" style="color: #6610f2;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Custom Software Development</h3>
                    </a>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>End-to-End Development</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Agile Methodology</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>AI-Powered Automation</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Cross-Platform Development</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Integration Services</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Ongoing Support and Maintenance</span></li>
                    </ul>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bank" style="color: #f3268c;"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Databases</h3>
                    </a>
                    <ul style="margin-bottom:0;">
                        <li><i class="bi bi-check2-circle"></i> <span>Managing your all database migration over cloud</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Effective & Optimized solutions for future ready Datawarehouse</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Data Security and Compliance</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Database Management and Administration</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Database Design and Architecture</span></li>
                    </ul>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section>
<!-- /Portfolio Section -->

<section id="Cloud / Technology Upgrade" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Cloud / Technology Upgrade</h2>
        <p>What we do</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-12 " data-aos="fade-up" data-aos-delay="100" style="margin-left:auto; margin-right:auto; text-align:center;">
                <img src="~/assets/img/adsimages/migrationflow.jpg" alt="tlm" />
            </div>
        </div>
    </div>
</section>
<!-- /Testimonials Section -->
<!-- Team Section -->
<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our Hardworking Team</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/Team_Member.png" class="img-fluid" alt="">
                        <div class="social" style="display:none">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>S. L. Sharma</h4>
                        <span>Co-Founder & Director</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/Team_Member_Female.jpg" class="img-fluid" alt="">
                        <div class="social" style="display:none">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>V. J. Sharma</h4>
                        <span>Co-Founder & Director</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/Team_Member.png" class="img-fluid" alt="">
                        <div class="social" style="display:none">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>M. Collingsworth</h4>
                        <span>CTO & Enterprise Architecht</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/Team_Member_Female.jpg" class="img-fluid" alt="">
                        <div class="social" style="display:none">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jyoti S</h4>
                        <span>Human Resource Head</span>
                    </div>
                </div>
            </div><!-- End Team Member -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="assets/img/team/Team_Member.png" class="img-fluid" alt="">
                        <div class="social" style="display:none">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Saurabh S</h4>
                        <span>Chief Delivery Officer</span>
                    </div>
                </div>
            </div><!-- End Team Member -->
        </div>

    </div>

</section><!-- /Team Section -->
<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Technology</h2>
        <p>Technical Expertise<br></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <article>

                    <div class="post-img">
                        <img src="~/assets/img/technoloty/businessintele.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Business Intelligence
                    </h2>
<<<<<<< HEAD
=======

                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
                    </div>

>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                </article>
            </div><!-- End post list item -->

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <article>

                    <div class="post-img">
<<<<<<< HEAD
                        <img src="~/assets/img/technoloty/MachineLearning.png" alt="" class="img-fluid">
=======
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Machine Learning
                    </h2>

                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </div>
                    <h2 class="title">
                        Machine Learning
                    </h2>
                </article>
            </div><!-- End post list item -->

<<<<<<< HEAD
=======
                </article>
            </div><!-- End post list item -->

>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

                    <div class="post-img">
<<<<<<< HEAD
                        <img src="~/assets/img/technoloty/BigData.jpg" alt="" class="img-fluid">
=======
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </div>
                    <h2 class="title">
                        Big Data and Analytics
                    </h2>
                </article>
            </div><!-- End post list item -->
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

<<<<<<< HEAD
                    <div class="post-img">
                        <img src="~/assets/img/technoloty/AI.jpg" alt="" class="img-fluid">
=======
                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </div>
                    <h2 class="title">
                        Open AI
                    </h2>
                </article>
            </div><!-- End post list item -->
<<<<<<< HEAD
=======
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

                    <div class="post-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Open AI
                    </h2>

                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

                    <div class="post-img">
<<<<<<< HEAD
                        <img src="~/assets/img/technoloty/CloudComputing_Tech.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Cloud Modernization
=======
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Cloud Modernization
                    </h2>

                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

                    <div class="post-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>
                    <h2 class="title">
                        Web Development Technologies
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </h2>
                </article>
            </div><!-- End post list item -->
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <article>

<<<<<<< HEAD
                    <div class="post-img">
                        <img src="~/assets/img/technoloty/WebTech.jpg" alt="" class="img-fluid">
=======
                    <div class="d-flex align-items-center">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                        </div>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                    </div>
                    <h2 class="title">
                        Web Development Technologies
                    </h2>
                </article>
            </div><!-- End post list item -->

        </div><!-- End recent posts list -->

    </div>

</section><!-- /Recent Posts Section -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-12">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h3>Regd Office</h3>
                                <p>G-286, Ashok Nagar, Etawah UP India 206001</p>
                            </div>
                            <div>
                                <h3>ODC Address</h3>
                                <p>E701 Samridhi Grand, Greater Noida UP India 201305</p>
                            </div>
                        </div><!-- End Info Item -->
                    </div>
                </div>
<<<<<<< HEAD

                <div class="row gy-4 mt-4">
                    <div class="col-md-6">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                @* <p>(USA) +1 502-509-3345</p> *@
                                @* <p>+91 897-925-2592</p> *@
                                <p>+91 945-854-8939</p>
                            </div>
=======

                <div class="row gy-4 mt-4">
                    <div class="col-md-6">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55</p>
                            </div>

>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                        </div><!-- End Info Item -->
                    </div>
                    <div class="col-md-6">
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>contact.adsinfosoft@gmail.com</p>
                            </div>
                        </div> <!-- End Info Item -->
                    </div>
                </div>

                <div class="row gy-4 mt-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        @* <div id="gMap"></div> *@
                        <div>
                            <h3>Global Presence</h3>
<<<<<<< HEAD
                            <div class="mt-4">
                                <img src="~/assets/img/adsimages/WorldMap_Small.png" />
                            </div>
=======
                            <p>
                                <img src="~/assets/img/adsimages/WorldMap_Small.png" />
                            </p>
>>>>>>> 4df218dff395067e91355d8d7282087056d58f75
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
<!-- prettier-ignore -->
<script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly" });</script>

<script src="~/js/gmap.js"></script>
